
<div class="contenedor_centrado">
  <div class="pregunta">
    <h2>Añadir comentario</h2>
    <form method="post" action="/quizes/<%=quizId%>/comments/" >
      <input type="text" id="comment" name="comment[texto]" value="" class="caja_texto"/>
      <button type="submit" class="boton">Guardar</button>
    </form>
  </div>
</div>
