<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" media="screen and (min-width: 701px) and (max-width: 1015px)" href='/stylesheets/media.css' />
    <link rel='stylesheet' type="text/css" media="screen and (max-width: 700px)" href='/stylesheets/smartphone.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header id="header">
      <div class="caja">
        <% if (!session.user) { %>
          <span class="derecha"><a href="/login" class="login" title="Login">Login </a></span>
        <% } else { %>
          <span class="derecha"> <%=session.user.username %><a href="/logout" class="logout" title="Logout">Logout</a></span>
        <% } %>
        <h1>Quiz: el juego de las preguntas</h1>
      </div>
    </header>

    <nav id="nav" role="navigation">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/quizes">Preguntas</a></li>
        <li><a href="/author">Créditos</a></li>
      </ul>
    </nav>

    <section id="section">
      <%- body %>
    </section>

    <footer id="footer">
      <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un quiz?</a>
      <a href="https://github.com/jrjimenezr/quiz">URL en Github</a>
    </footer>
  </body>
</html>
