body {
  background: #FFFFFF;
  color: #491057;
  font-size: 1em;
  margin: 1em;;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: justify;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0em;
  text-algin: center;
}

.boton, .caja_texto {
  text-align: center;
  margin: auto;
  background-color: rgba(4, 64, 133, 0.8);
  color: #F3D8FA;
  border: 0.1em solid #F3D8FA;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.boton:hover {
  background-color: rgba(4 , 64, 133, 0.3);
  color: #044085;
  border: 0.1em solid #044085;
}

.caja, #footer  {
  background-color: #F3D8FA;
  color: #491057;
  border: 0.1em solid #491057;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(73, 16, 87, 0.3);
  padding: 1.5em 2em;
  margin: 1em;
  text-align: center;
}

.pregunta, .respuesta {
  background-color: #DEEDFA;
  color: #044085;
  border: 0.1em solid #044085;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(4 , 64, 133, 0.3);
  padding: 1.5em 2em;
  margin: 1em;
  text-align: center;
  width: auto;
  display: inline-block;
}

.contenedor_centrado {
  text-align: center;
}

#nav {
	width: 250px;
	float: left;
	margin-top: 0px;
	text-align:left;
	position:fixed;
	font-family: Helvetica, sans-serif;
	background-color: rgba(4,64,133,0.5);
	border-radius: 10px;
	padding: 10px;
	margin-right: 1em;
}

#nav ul, #nav li {
	margin:2px 0 2px 0;
	padding:0;
	list-style:none;
}

#nav a {
	display: block;
	padding: 4px 0 4px 20px;
	color: #044085;
	background-color: #DEEDFA;
	text-decoration: none;
	border-radius: 1em;
}

#nav a:hover {
	color: #044085;
	background-color:#C3DCF7;
	font-weight: bold;
}

#section{
	margin-left: 285px;
	margin-top: 0px;
}
