
<div class="contenedor_centrado">
  <div class="respuesta">
    <h2>Respuesta</h2>
    <p><%= respuesta %></p>
    <p><a href="/quizes/<%= quiz.id %>" class="boton">Inténtelo de nuevo </a></p>
  </div>
</div>
