<div class="contenedor_centrado">
  <div class="lista_preguntas">
    <h2>Elige la pregunta</h2>
    <ul>
      <% var i; for (i=0; i<quizes.length; i++) { %>
        <li><a class="boton" href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></li>
      <% } %>
    </ul>
    <form method="get" action="/quizes">
      <p>Filtrar preguntas por: <input type="text" name="search" class="caja_texto"/>
      <input type="submit" value="Filtrar" class="boton"/></p>
    </form>
    <br />
    <p>
      <a href="/quizes/new" class="boton">Crear pregunta</a>
    </p>
  </div>
</div>
