<div class="contenedor_centrado">
  <form method="get" action="/quizes/<%= quiz.id %>/answer" class="pregunta">
    <h2>Pregunta</h2>
    <p><%= quiz.pregunta %>
      <input type="text" name="respuesta" placeholder="Responda aquí" class="caja_texto" />
    </p>
    <input type="submit" value="Enviar" class="boton" />

    <h3>Comentarios</h2>
    <ul>
    <% for (index in quiz.comments) { %>
      <li> <%= quiz.comments[index].texto %> </li>
    <% } %>
    </ul>
    <p><a href="/quizes/<%= quiz.id %>/comments/new" class="boton anadir">Nuevo comentario</a>
  </form>
</div>
