<div class="contenedor_centrado">
  <form method="get" action="/quizes/<%= quiz.id %>/answer" class="pregunta">
    <h2>Pregunta</h2>
    <p><%= quiz.pregunta %>
      <input type="text" name="respuesta" value="Responda aquí" class="caja_texto" />
    </p>
    <input type="submit" value="Enviar" class="boton" />
  </form>
</div>
