<div class="contenedor_centrado">
  <div class="autenticacion">
    <h2>Login</h2>
    <% if (Object.keys(errors).length) { %>
      <div class="error">
        <h3><%- errors.message %></h3><br/>
      </div>
    <% }; %>
    <form method="post" action="/login" >
      <p>
        <label for="login">Usuario</label>
        <input type="text" id="login" name="login" class="caja_texto" />
      </p>
      <p>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="caja_texto" />
      </p>
      <input name="commit" type="submit" value="Login" class="boton"/>
    </form>
  </div>
</div>
