<div class="contenedor_centrado">
  <div class="pregunta">
    <h2>Añadir pregunta</h2>
    <form method="post" action="/login" >
      <p>
        <label for="login">Usuario</label>
        <input type="text" id="login" name="login" class="caja_texto" />
      </p>
      <p>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="caja_texto" />
      </p>
      <p><input name="commit" type="submit" value="Login" class="boton"/> </p>
    </form>
  </div>
</div>
